 * {
     margin: 0.1px;
 }
 
 body {
     background: #F7F7F7;
     font-family: "Arbutus Slab", serif;
 }
 /* The Header */
 
 header {
     display: flex;
     background: #fff;
     justify-content: space-between;
 }
 
 .center-logo img {
     height: 50px;
     width: 250px;
 }
 
 .leftmost,
 .rightmost {
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 17%;
 }
 
 .leftmost a {
     text-decoration: none;
     color: #000;
     font-weight: bold;
 }
 
 .leftmost a:hover {
     text-decoration: underline;
 }
 
 .rightmost input {
     background: #336991;
     color: #F7F7F7;
     padding: 12px;
     font-weight: bold;
     border-radius: 5px;
     border: none;
     /* height: 100%; */
     ;
 }
 /* The Header */
 /* body */
 
 .highlight {
     font-size: 40px;
     text-align: center;
     margin: 5% 2% 2% 2%;
 }
 
 a {
     text-decoration: none;
     text-transform: capitalize;
     color: #000;
 }
 
 figure {
     display: block;
     margin: auto;
     max-width: 1200px;
 }
 
 figure img {
     max-width: 1200px;
 }
 
 figcaption {
     font-size: 15px;
 }
 
 .main-container {
     border: 1px solid #000;
     max-width: 1200px;
     background: #336991;
     display: flex;
     margin: auto;
     justify-content: flex-end;
     align-content: space-between;
 }
 
 .content-center {
     display: flex;
     flex-direction: column;
     border: 1px solid #000;
     background: lightpink;
     flex: 3;
     font-size: 20px;
 }
 
 .content-right {
     display: flex;
     border: 1px solid #000;
     height: 100vh;
     background: lightgreen;
     flex: 1;
     flex-direction: column;
     max-height: 80%;
     justify-content: space-between;
 }
 
 .content-right img {
     height: 70px;
     width: 70px;
 }
 
 .content-center p {
     margin-bottom: 20px;
     padding-left: 35%;
 }
 
 .publication-info {
     border: 2px solid red;
 }
 
 .publication-info :nth-child(2) {
     margin-top: 15px;
 }
 
 .social {
     display: flex;
     align-items: flex-end;
     justify-content: space-around;
     width: 25%;
 }
 
 .social .fab {
     background: grey;
     width: 25px;
     height: 25px;
     border-radius: 50%;
     padding-left: 8px;
     padding-top: 5px;
 }