 * {
     margin: 0.1px;
 }
 
 body {
     background: #F7F7F7;
     font-family: "Arbutus Slab", serif;
 }
 /* The Header */
 
 header {
     display: flex;
     background: #fff;
     justify-content: space-between;
 }
 
 .center-logo img {
     height: 50px;
     width: 250px;
 }
 
 .leftmost,
 .rightmost {
     display: flex;
     align-items: center;
     justify-content: space-around;
     width: 17%;
 }
 
 .leftmost a {
     text-decoration: none;
     color: #000;
     font-weight: bold;
 }
 
 .leftmost a:hover {
     text-decoration: underline;
 }
 
 .rightmost input {
     background: #336991;
     color: #F7F7F7;
     padding: 12px;
     font-weight: bold;
     border-radius: 5px;
     border: none;
     /* height: 100%; */
     ;
 }
 /* The Header */
 /* body */
 
 .highlight {
     font-size: 40px;
     text-align: center;
     margin: 5% 2% 2% 2%;
 }
 
 a {
     text-decoration: none;
     text-transform: capitalize;
     color: #000;
 }
 
 figure {
     display: block;
     margin: auto;
     max-width: 1200px;
 }
 
 figure img {
     max-width: 1200px;
 }
 
 figcaption {
     font-size: 15px;
 }